@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-header {
  text-align: left;
  font-family: 'Pacifico', cursive;
  font-size: 35px;
  color: white;
  background-color: brown;
}

.site-layout-background {
  background: url("https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png");
}

